{% extends "base.html" %}
{% block content %}
<h2>Kayıt Ol</h2>
<form method="POST">
    <div class="mb-3">
        <label class="form-label">Kullanıcı Adı:</label>
        <input type="text" class="form-control" name="kullanici_adi" required>
    </div>
    <div class="mb-3">
        <label class="form-label">E-posta:</label>
        <input type="email" class="form-control" name="email" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Şifre:</label>
        <input type="password" class="form-control" name="sifre" required>
    </div>
    <button type="submit" class="btn btn-primary">Kayıt Ol</button>
</form>
{% endblock %}
